---
app_name: test
parent_domain: example.com
domain: "{{ app_name }}.{{ parent_domain }}"

server_hostname: "{{ domain | default(ansible_default_ipv4.address) }}"
secret_key_base: change_me

consul_repo: https://github.com/digidemlab/consul.git
consul_branch: vps

# Server Timzone + Locale
timezone: Europe/Stockholm
locale: en_US.UTF-8

# General settings
env: production
root_access: true
deploy_user: deploy
deploy_dir: "/home/{{ deploy_user }}/"
deploy_password: test
deploy_app_name: test
deploy_server_hostname: 127.0.0.1

ssh_public_key_path: "~/.ssh/id_rsa.pub"

# Ruby
ruby_version: 2.3.8
rvm1_user: "{{ deploy_user }}"
rvm1_rubies: ["ruby-{{ ruby_version }}"]

# Postgresql
database_name: "consul_{{ env }}"
database_user: "{{ deploy_user }}"
database_password: "{{ deploy_user }}"
database_hostname: "localhost"
database_port: 5432

# Redis
redis_listen_address: '127.0.0.1'
redis_listen_port: '6379'

# Puma threads and workers
rails_max_threads: "5"
web_concurrency: "2"

# SMTP
smtp_address:        change_me
smtp_port:           587
smtp_domain:         {{ parent_domain }}
smtp_user_name:      change_me
smtp_password:       change_me
smtp_authentication: "plain"

# Sentry
sentry_dsn: change_me

# Let's Encrypt
letsencrypt_email: change_me

# Hetzner token
hetzner_token: change_me

# Gandi
production_api_key: change_me

# Matomo auth token
matomo_token: change_me
