server {
  listen 80 default_server;
  listen [::]:80 default_server;

  server_name {{ server_hostname }};
  client_max_body_size 32M;
  passenger_enabled on;
  passenger_ruby /home/{{ deploy_user }}/.rvm/wrappers/ruby-{{ ruby_version }}/ruby;
  rails_env {{ env }};
  root /home/{{ deploy_user }}/{{ app_name }}/public;
  limit_req zone=one burst=10;

  {% if domain is defined or lookup('env', 'CI') %}

    listen [::]:443 ssl ipv6only=on;
    listen 443 ssl;
    ssl_certificate /etc/letsencrypt/live/{{ server_hostname }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ server_hostname }}/privkey.pem;
    include /etc/letsencrypt/options-ssl-nginx.conf;
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;

    if ($ssl_protocol = "") {
      rewrite ^   https://$server_name$request_uri? permanent;
    }

  {% endif %}
}
